body {
    background-color: #ededed;
}

.drapeau {
    text-align: right;
}

.drapeau img {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.contenu:before{
  padding-top: 30px;
}

#presentation h1, .partie h2 {
    font-family: 'Bungee Inline', cursive;
    color: #FF6E40;
    text-transform: uppercase;
}

.container {
    background-color: white;
    margin-top: 140px;
    margin-bottom: 15px;
}

#header {
    margin-top: -75px;
}

#photo {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;
}

#photo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#presentation h4 {
    opacity: 0.7;
}

.partie {
    margin-bottom: 30px;
}

.partie h2 {
    font-size: 1.8em;
}

table {
    text-align: justify;
}

.list-group-item {
    font-size: 1.5em;
}

.titreComp {
    font-weight: bold;
}

.langues .row {
    padding-bottom: 1em;
}

.nomLang {
    font-weight: bold;
}

.nivLang {
    text-align: right;
}

.nivLang i {
    padding-left: 10px;
}

.hob {
    color: white;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 25px;
    background: #FF5722;
    position: relative;
    font-size: 1.2em;
}

.hob:before {
    content: "\f0e7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 7px;
}
